<div class="container">
  <div class="header">
    <a href="index.html" class="header-left logo-text">Domain Name Search</a>
    <a class="donate" href="https://saweria.co/faridnizam" target="_blank" rel="noopener noreferrer">❤️ Donasi</a>
  </div>
  <form class="input" id="input">
    <input id="name" type="text" autocomplete="off" name="name" placeholder="Masukan Nama Domain" autofocus required />
    <button type="submit" id="button" class="umami--click--check-button">Check</button>
  </form>
  <p id="hideTextResults" style="display: none"><b>Results :</b></p>
  <div id="results" class="results"></div>
  <div class="push"></div>
  <div>
    <p style="margin-bottom: -8px"><b>Note :</b></p>
    <p style="margin-bottom: -12px">🔴 Domain tidak tersedia</p>
    <p>🟢 Domain tersedia</p>
  </div>
</div>
