<div class="container">
  <header>
    <h1>Domain Name Search</h1>
    <p>Dibuat dengan ❤️ by <a href="#">Farid Nizam</a></p>
  </header>
  <form class="input" id="input">
    <input id="name" type="text" autocomplete="off" name="name" placeholder="Temukan ketersedian nama domain Anda" autofocus required />
    <button type="submit" id="button" class="umami--click--check-button">Check</button>
  </form>
  <p id="hideTextResults" style="display: none"><b>Results :</b></p>
  <div id="results" class="results"></div>
  <div class="push"></div>
  <div>
    <p style="margin-bottom: -8px"><b>Note :</b></p>
    <p style="margin-bottom: -12px">🔴 Domain tidak tersedia</p>
    <p>🟢 Domain tersedia</p>
  </div>
</div>
