<header>
  <div class="header-left">
    <a href="" class="logo-text">Cek Domain</a>
    <a href="" class="nav-link" style="color: black">Beranda</a>
    <a href="#" class="nav-link">Cara Pakai</a>
    <a href="#" class="nav-link">Privasi</a>
    <a href="#" class="nav-link">GitHub</a>
    <a href="#" class="nav-link">Pers</a>
  </div>

  <div class="header-right">
    <a class="donate" href="#" target="_blank">❤️ Donasi</a>

    <!-- <span class="icon nav-bar">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z" />
        <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z" />
      </svg>
    </span> -->
  </div>
</header>

<!-- {% include pages/mobile-menu.html %} -->
