<!-- Open Graph data -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image" content="{{ site.cardImageSeo }}" />
<!-- Twitter Card data -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="twitter:title" content="{{ site.title }}" />
<meta property="twitter:description" content="{{ site.description }}" />
<meta property="twitter:image" content="{{ site.cardImageSeo }}" />
